/* Container for pagination buttons and scrollable cards */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Container for touch scrollable cards */
.card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 20px;
  max-width: 1000px;
  /* Adjust the visible width for pagination */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Hide scrollbar */
}

.card-container::-webkit-scrollbar {
  display: none;
  /* Hides scrollbars for cleaner UI */
}

/* Individual cards */
.card {
  min-width: 230px;
  font-size: 16px;
  /* padding: 20px; */
  /* background-color: #f1f1f1; */
  border: 1px solid rgb(169, 169, 169);
  border-radius: 10px;
  text-align: center;
  flex-shrink: 0;
  height: 270px;
  transition: all 0.3s ease;
}

.card a {
  text-decoration: none;
  color: #000000;
  font-family: syne;
  font-size: 10px;
  font-weight: lighter;
}

.card:hover,
.card:focus {
  transform: translateY(-8px);
  border: 1.3px solid rgb(93, 93, 93);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-image {
  margin-top: 53px;
  border-radius: 10px;
}

.subtitel {
  font-family: syne;
  font-size: 30px;
}

.left-btn,
.right-btn {
  position: absolute;
  /* top: 50%; */
  /* Center vertically */
  transform: translateY(-50%);
  background-color: #987cbd;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  /* Ensure buttons are on top */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  /* Slightly round the corners */
  display: none;
  /* Initially hidden */
  transition: all 0.3s ease;
}

/* Adjust positions of the buttons */
.left-btn {
  left: 250px;
  /* Adjust as needed */
}

.right-btn {
  right: 250px;
  /* Adjust as needed */
}

/* Optional: Add hover effect */
.left-btn:hover,
.right-btn:hover {
  background-color: #814fc2;
  color: white;
}

.girl-section-2 {
  width: 84.5%;
  margin-top: 100px;
}

.mens-section {
  width: 100%;
  margin-top: 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .girl-section-2 {
    width: 100%;
    margin-top: 100px;
  }
  .mens-section {
    width: 100%;
    margin-top: 100px;
  }
  .left-btn,
  .right-btn {
    display: none !important;
  }
}
